<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4XbT5yDPrrZ4PbZlg8E8LtMtVNmmhAIg</string>
	<key>GCM_SENDER_ID</key>
	<string>172718830384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterTreadsCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>flutter-treads-clone</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-treads-clone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:172718830384:ios:3b14a5eaa781e29c950ef5</string>
</dict>
</plist>